@media only screen and (width:1080px) and (height:2320){

body{

margin-left: 0px;
margin-top: 0px;



}

@font-face {
    font-family: "Roboto";
    src: url("C:/net/Roboto-Regular.ttf");
  }

  .swiper {
    width: 550px;
    height: 300px;
    margin-left: 0px;
  }
 .box{
   
    margin-top: px; 
    height: 70px;
    width: 550px;
    margin-right: 0px;
    background-color: #8c24bdfc;
 }

 

 .testo{
    font-family: "Roboto";
    font-size:x-large;
    color: white;
    margin-top: 25px;
    margin-left: 10px;

    float: left;
 
 
  } 
  .image{
      
      margin-left: 10px;
      width: 40px;
      height: 40px;
      


  }



  .dropbtn {
  background-color: #8c24bdfc;
  color: white;
  margin-left: 60px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-top: 20px;
  margin-left: 250px;
  display: inline-block;
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #8c24bdfc;}

}